.search {
    grid-column: 2/3;
    grid-row: 2;
}

.search input {
    font-size: 1.5em;
    text-align: center;
    border-radius: 1em;
    height: 2em;
    width: 75%;
    border-style: double;
    font-family: Poppins, sans-serif;
    grid-column: 2/3; 
    grid-row: 2;
}

.search button:hover {
    background-color: #b9babd;
    border-color: #ffffff;
    box-shadow: #ffffff 2px;
}