.App {
  text-align: center;
  font-family: Poppins, sans-serif;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: #ffffff;
  min-height: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #91A5CB;
}

.App-link {
  color: #61dafb;
}

/* Define the root variable styles

- box-shadow
- box-shador hover

- spacing 

- radius

*/

:root {
  --color-background: #313C5D;
  --color-header-text: #313C5D;
  --color-text: #91A5CB;
  --color-border: #e9e7e7;
  --post-background: #ffffff;
  --color-alert: #e60808;
  --color-success: #6be908;
  --color-on-hover: #ffffff52;
  --color-link: #dcdcdc;
  --font: Poppins, sans-serif;

  --box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
  0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
--box-shadow-hover: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
  0 10px 10px -5px rgba(0, 0, 0, 0.04) !important;

  --spacing-0: 4px;
  --spacing-1: 8px;
  --spacing-2: 16px;
  --spacing-3: 24px;
  --spacing-4: 36px;
  --spacing-5: 64px;

  --radius: 4px;
  --radius-2: 8px;
  
}

body {
  background: var(--color-background);
  color: var(--color-text);
  font-family: var(--font);
}